/*
Partie Formulaire de connexion
*/

section
{
	position: relative;
	width: 100%;
	height: 600px;
	background: url("../Images/fond-sweetch.png") repeat;
}

.leftbox
{
	height: 400px;
	width: 600px;
	position: relative;
	float: left;
	margin-left: 40px;
	margin-top: 100px;
}

.rightbox
{
	height: 398px;
	width: 600px;
	position: relative;
	margin-top: 100px;
	background-color: rgb(34,159,204);
	float: left;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0px 3px 3px 0px;
}

table
{
	height: 400px;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid #C1C1C1;
	border-radius: 3px 0px 0px 3px;
	background-color: white;
}

.inscription
{
	height: 70px;
	font-size: 20px;
	font-family: "Century Gothic", Arial, sans-serif;
	font-weight: lighter;
	border-bottom: 1px solid #C1C1C1;
	padding-left: 10px
}

.content
{
	font-size: 17px;
	font-family: "Century Gothic", Arial, sans-serif;
	height: 30px;
	padding-left: 10px;
	width: 50%;
}

.check
{
	margin-left: 10px;
}

.conditions a 
{
	font-size: 14px;
	font-family: "Century Gothic", Arial, sans-serif;
	color: #C1C1C1;
	padding-left: 10px;
}

.input
{
	height: 100%;
	width: 90%;
	font-size: 15px;
	font-family: "Century Gothic", Arial, sans-serif;
}

.button
{
	height: 100%;
	width: 20%;
	background-color: rgb(42,102,181);
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 17px;
	font-family: "Century Gothic", Arial, sans-serif;
	border-radius: 3px;
	border: 1px solid black;
	padding-top: 4px;
}

/*
Fin de la partie formulaire
*/

#erreur
{
	display: block;
	height: 30px;
	width: 600px;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 17px;
	color: white;
	padding-left: 15px;
	background-color: #D11316;
	font-weight: bold;
}








