/* On définit la police téléchargée */
@font-face {
	font-family: 'lobster';
	src: url('Lobster_1.3.otf');
	font-weight: lighter;
}

/* permet de mettre en full-size */
*
{
	margin: 0;
	padding: 0;
}

/*
Partie header
*/

header
{
	height: 75px;
	width: 100%;
	border-bottom: 1px solid rgb(12,59,102);
	position: relative;
	background-color: rgb(27,120,209);
}

#nav-logo
{
	position: absolute;
	top: 5px;
	left: 15px;
	float: left;
}

#nav
{
	height: 75px;
	position: absolute;
	width: auto;
	right: 0px;
}

#nav li 
{
	display: inline-block;
	list-style-type: none;
	line-height: 75px;
}

.header-link
{
	display: block;
	height: 100%;
	padding: 0 5px;
	text-decoration: none;
	font-size: 17px;
	font-family: lobster, Arial, sans-serif;
	color: white;
}

.header-link:hover
{
	background-color: rgb(19,88,162);
	color: rgb(180,180,180);
}

/*
Fin de la partie header
*/

/*
Partie Formulaire de connexion
*/

section
{
	position: relative;
	width: 100%;
	height: 600px;
	background: url("fond-sweetch.png") repeat;
}

.leftbox
{
	height: 400px;
	width: 600px;
	position: relative;
	float: left;
	margin-left: 40px;
	margin-top: 100px;
}

.rightbox
{
	height: 398px;
	width: 600px;
	position: relative;
	margin-top: 100px;
	background-color: rgb(34,159,204);
	float: left;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0px 3px 3px 0px;
}

table
{
	height: 400px;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid #C1C1C1;
	border-radius: 3px 0px 0px 3px;
	background-color: white;
}

.inscription
{
	height: 70px;
	font-size: 20px;
	font-family: "Century Gothic", Arial, sans-serif;
	font-weight: lighter;
	border-bottom: 1px solid #C1C1C1;
	padding-left: 10px
}

.content
{
	font-size: 17px;
	font-family: "Century Gothic", Arial, sans-serif;
	height: 30px;
	padding-left: 10px;
	width: 50%;
}

.check
{
	margin-left: 10px;
}

.conditions a 
{
	font-size: 14px;
	font-family: "Century Gothic", Arial, sans-serif;
	color: #C1C1C1;
	padding-left: 10px;
}

.input
{
	height: 100%;
	width: 90%;
	font-size: 15px;
	font-family: "Century Gothic", Arial, sans-serif;
}

.button
{
	height: 100%;
	width: 20%;
	background-color: rgb(42,102,181);
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 17px;
	font-family: "Century Gothic", Arial, sans-serif;
	border-radius: 3px;
	border: 1px solid black;
	padding-top: 4px;
}

/*
Fin de la partie formulaire
*/

/* 
Partie footer
*/

footer
{
	height: 200px;
	width: 100%;
	background-color: rgb(21,72,145);
}

.footer_link
{
	color: white;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 30px 0;
}

#fb
{
	float:left;
	width: 50px;
}

#twitter
{
	float: right;
	width: 50px;
}

#clear
{
	clear: left;
}

#footer-logo
{
	width: 100px;
	margin: 0 auto;
}

.footerxlink
{
	padding-top: 30px;
	text-align: center;
	color: white;
}

.footer-link
{
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 12px;
	color: white;
	text-decoration: none;
}

/*
Fin de la partie footer
*/









