/*
Partie publication
*/

section
{
	padding-top: 20px;
	position: relative;
	height: auto;
	background: url("../Images/fond-sweetch.png");
	width: 100%;
	padding-bottom: 20px;
	
}
tr, td 
{
	border: none;
	font-family: "Century Gothic", Arial, sans-serif;
}

.espace_photo
{
	width: 110px;
	height: 120px;
	background-color: white;
	color: grey;
	margin:auto;
	border-radius: 10px;
	border-style: dashed;
	margin-top: 20px;
	margin-bottom: 20px;
}
.titre
{
	height: 100px;
	font-size: 25px;
	border-bottom: 1px solid #C1C1C1;
	padding-left: 10px;
}
.case_photo
{
	width:25%;
	height: 150px;
}
.case
{
	width: 25%;
	height: 70px;
	font-size: 17px;
}
.titre_choix
{
	height: 10px;
	width: 25%;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 15px;
}
.choix
{
	width: 25%;
	height:30px;
	font-size: 15px;
	padding-left: 10px;
}
#table1,#table2,#table3,#table4
{
	height: auto;
	width: 800px;
	margin: auto;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 20px;
}
.autre
{
	padding-left: 50px;
}


select
{
	background-color: #C1C1C1;
	width: 80%;
	height: 60%;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 17px;
}

.text 
{
	padding-left: 15px;
}
.text_autre
{
	text-align: right;
}
.input
{
	height: 60%;
	width: 90%;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 17px;
}

#ville,#surface,#codePostal,#capacite
{
	height: 60%;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 17px;
	width: 50%;
}

.blank
{
	height: auto;
}

.precedent,.suivant 
{
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: rgb(42,102,181);
	display: block;
	height: 60%;
	width: 80%;
	border-radius: 3px;
	border: 1px solid black;
}
.publier
{
	background-color: rgb(42,102,181);
	color: white;
	width:180px;
	height:45px;
	text-align: center;
	margin-left: 990px;
}
