@font-face {
	font-family: 'lobster';
	src: url('Lobster_1.3.otf');
	font-weight: lighter;
}

*
{
	margin: 0;
	padding: 0;
}

/*
Partie header
*/

header
{
	position: static;
	height: 75px;
	width: 100%;
	border-bottom: 1px solid rgb(12,59,102);
	position: relative;
	background-color: rgb(27,120,209);
}

#nav-logo
{
	position: absolute;
	top: 5px;
	left: 15px;
	float: left;
}

#nav
{
	height: 75px;
	position: absolute;
	width: auto;
	right: 0px;
}

#nav li 
{
	display: inline-block;
	list-style-type: none;
	line-height: 75px;
}

.header-link
{
	display: block;
	height: 100%;
	padding: 0 5px;
	text-decoration: none;
	font-size: 17px;
	font-family: lobster, Arial, sans-serif;
	color: white;
}

.header-link:hover
{
	background-color: rgb(19,88,162);
	color: rgb(180,180,180);
}

/*
Fin de la partie header
*/

/*
Partie Slider
*/

#slider-principal
{
	position: static;
	height: 575px;
	width: 100%;
	background-color: rgb(34,59,121);
	display: block;
}

/*
Fin de la partie Slider
*/

/*
Partie barre de recherche
*/

#recherche
{
	position: static;
	height: 87px;
	width: 100%;
	background-color: rgb(27,120,209);
}

#recherche-simple
{
	position: relative;
	line-height: 80px;
	height: 100%;
	padding: 0 33px;
	float: left;
	border-right: 1px solid rgb(12,59,102);
}

label
{
	float: left;
	line-height: 87px;
	height: 100%;
	width: 120px;
	font-size: 20px;
	font-family: "Century Gothic", Arial, sans-serif;
	color: white;
}

.search
{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 0px;
	height: 45px;
	font-size: 19px;
	font-family: "Century Gothic", Arial, sans-serif;
	width: 327px;
}

.submit
{
	height: 50px;
	margin-top: 20px;
	font-size: 19px;
	font-family: "Century Gothic", Arial, sans-serif;
	color: ;
	border: 1px solid #EFEFEF;
	background-color: white;
	padding: 0 5px;
	margin-left: 0px;
}

#recherche-avancee, #informations
{
	display: block;
	height: 100%;
	width: auto;
	float: left;
	line-height: 90px;
	padding: 0 20px;
	color: white;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 20px;
	text-decoration: none;
	border-right: 1px solid rgb(12,59,102);
}

#informations
{
	padding: 0 24px;
	border-right: none;
}

/*
Fin de la partie barre de recherche
*/

/* 
Partie informations
*/

#infos 
{
	height: 750px;
	width: 100%;
	background-color: rgb(79,199,218);
	position: relative;
}

.mark1
{
	position: absolute;
	height: 60%;
	width: 100%;
	border-bottom: 1px solid rgb(106,106,106);
}

.mark2
{
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 33%;
	border-right: 1px solid rgb(106,106,106);
}

.mark2:hover, .mark3:hover, .mark4:hover
{
	background-color: rgb(70,255,142);
	border: 1px solid rgb(106,106,106);
}

.mark3
{
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 34%;
	border-right: 1px solid rgb(106,106,106);
	left: 33%;

}

.mark4
{
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 33%;
	float: left;
	right: 0;
}

/*
Fin de la partie informations
*/

/* 
Partie footer
*/

footer
{
	height: 200px;
	width: 100%;
	background-color: rgb(21,72,145);
	position: relative;
}

.footer_link
{
	color: white;
	font-family: Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 30px 0;
}

#fb
{
	float:left;
	width: 50px;
}

#twitter
{
	float: right;
	width: 50px;
}

#clear
{
	clear: left;
}

#footer-logo
{
	width: 100px;
	margin: 0 auto;
}

.footerxlink
{
	padding-top: 30px;
	text-align: center;
	color: white;
}

.footer-link
{
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: white;
	text-decoration: none;
}










